<div class="toolbar">
    <div class="toolbar__wrapper">
        <div class="toolbar__menu-trigger">
            <img src="/assets/svg/hamburger.svg"/>
            <div class="toolbar__search">
              <form action="">
                  <input type="text" name="" placeholder="Search anything" id="">
              </form>
            </div>

        </div>
    
        <div class="toolbar__profile">
            <div class="toolbar__profile-sets settings">
                <img src="/assets/svg/settings.svg"/>
            </div>

            <div class="toolbar__profile-sets notification">
                <img src="/assets/svg/bell.svg"/>
                <div class="notification__number">2</div>
            </div>

            <div class="toolbar__profile-sets msg-pic">
                <img src="/assets/svg/mail.svg"/>
                <div class="notification__number">8</div>
            </div>

            <div class="toolbar__profile-sets profile-pic">
                <img src="/assets/img/avatar-pro.png"/>
            </div>
        </div>
    </div>
</div>
