<div class="sidebar__el">
    <div class="sidebar__logo">
        <img [src]="effizoLogo" alt="logo">
    </div>
    <div class="sidebar__cover">
      <div class="sidebar__cover-img">
        <img src="https://www.w3schools.com/w3images/avatar2.png" alt="madant_avatar"/>
      </div>
      <h4 class="sidebar__cover-name">Mandant</h4>
    </div>
    
    <ul class="sidebar__navigation">
      <li class="sidebar__navigation-items">
        <a href="#"><img src="/assets/svg/files.svg"/>Dokumente</a>
        <ul class="sidebar__navigation-sub">
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Übersicht</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Neue Dokumente</a></li>
        </ul>
      </li>
    </ul>


    <ul class="sidebar__navigation">
      <li class="sidebar__navigation-items">
        <a href="#"><img src="/assets/svg/stats.svg"/>Finanzbuchhaltung</a>
        <ul class="sidebar__navigation-sub">
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Übersicht</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Hauptbuch</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Einstellungen</a></li>
        </ul>
      </li>
    </ul>


    <ul class="sidebar__navigation">
      <li class="sidebar__navigation-items">
        <a href="#"><img src="/assets/svg/stopwatch.svg"/>Zeit & Spesen</a>
        <ul class="sidebar__navigation-sub">
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Übersicht</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Zeit</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Spesen</a></li>
          <li class="sidebar__navigation-sub-items"><a href="#"><img src="/assets/svg/button.svg">Effektive Zeit</a></li>
        </ul>
      </li>
    </ul>

</div>


